<div class="container divBox">
  <mat-card *ngFor="let movie of movies"  class="containerMat mat-elevation-z8" >
    <mat-card-header>
      <mat-card-title>{{ movie.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="movie.image">
    <mat-card-content>
     <span>Atores:</span> {{ movie.actors }}
    </mat-card-content>
    <mat-card-content>
      <span>Lançamento:</span> {{ movie.year }}
    </mat-card-content>
    <mat-card-content>
      <span>Autor: </span>{{ movie.author }}
    </mat-card-content>
    <mat-card-content>
      <span>Tags:</span> {{ movie.tags }}
    </mat-card-content>
  </mat-card>
</div>

